<nav class="navbar">
    <ul>
      <li>
        <a routerLink="/jokes" routerLinkActive="active">Jokes</a>
      </li>
      <li>
        <a routerLink="/flags" routerLinkActive="active">Flags</a>
      </li>
      <li>
        <a routerLink="/types" routerLinkActive="active">Types</a>
      </li>
      <li>
        <a routerLink="/languages" routerLinkActive="active">Languages</a>
      </li>
      <li>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </li>
    </ul>
  </nav>
  